@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100;1,300&family=Montserrat:wght@200&family=Oswald&display=swap');

#main_name, #menu {
    font-family: Oswald, sans-serif;
    color: rgb(240, 132, 60);
    font-size: 200%;
    margin-left: 25px;
    float: left;
    line-height: 50px;
}



#main_name:hover {
    border-bottom: 1px solid rgb(240, 132, 60);
}

hr {
    border: dotted 6px rgb(240, 132, 60);
    border-bottom: none;
    width: 400px;
    margin: 50px auto;
}

/* Making sure the logo or website name menu items are inline */

#menu {
    font-family: Oswald, sans-serif;
    font-size: 120%;
    letter-spacing: 4px;
    list-style-type: none;
    margin-right: 90px;
    float: right;
    padding-top: 5px;
}


/* List items horizontal rather than vertical */
ul > li {
    display: inline-block;
}

/*removing any styles auto placed on the a href links */
#menu a {
    text-decoration: none;
}
/* Adding a style to underline links when hovered */
#menu a:hover {
    border-bottom: 1px solid rgb(240, 132, 60);
}

/* background image */
 #cooking {
    height: 800px;
    width: 1900px;
    background: url(/images/background.jpg) no-repeat center center;
    overflow: hidden;
    justify-content: center;
    animation: bg-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes bg-zoom {
    from {
        transform: scale(.9);
    }
    to {
        transform: scale(1);
    }
} 

#image-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 270px;
    height: 250px;
    padding-top: 45px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .7);
    bottom: 50px;
    right: 150px;
    position: absolute;
}


#image-text, #image-text h3 {
    color: #fff;
    position: absolute;
}

#creator-info {
    height: 400px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

section#creator-info_ {
    padding-left: 215px;
}

#creator-info-text {
    font-size: 160%;
    font-family: Montserrat, Arial;
    margin-top: 30px;
    border-right-style: solid;
    width: 350px;
    border-right-width: 0px;
    padding-right: 950px;
    
}


#creator-info-text h2 {
    font-size: 109%;
    font-family: Montserrat, Arial;
    text-align: center;

}

#creator-info-text map {
    font-size: 100%;
    text-align: center;
    float: right;
    
}


 #circle-container{
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(240, 132, 60);
    border-width: 1px;
    border-radius: 50%;
    margin-top: 2px;

}

#content_creator_img {
    background: url(../images/estrella.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}


#content_creator_img:hover {
    scale: 1.01;
}

#cooking-cards {
  padding-bottom: 20px;
  column-gap: 15px;
  display: flex;
  height: 600px;

}
section#cooking-cards {
    width: 0%;
    height: 0%;
}

#food-card {
    max-width: 300px;
    margin-left: 110px;
    font-family: Montserrat, Arial;
    text-align:center;
}

#food-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#food-card img {
    max-width: 300px;

}

#food-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#food-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}
#food-card:hover {
    scale: 1.01;
}

#cocktail-card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#cocktail-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#cocktail-card img {
    max-width: 300px;
}

#cocktail-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#cocktail-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}

#cocktail-card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#cocktail-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#cocktail-card img {
    max-width: 300px;
}

#cocktail-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#cocktail-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}
#cocktail-card:hover {
    scale: 1.01;
}

#coffee-card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#coffee-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#coffee-card img {
    max-width: 300px;
}

#coffee-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#coffee-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}
#coffee-card:hover {
    scale: 1.01;
}

#idea-card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
    margin-bottom: 100px;
}

#idea-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#idea-card img {
    max-width: 300px;
}

#idea-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#idea-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}
#idea-card:hover {
    scale: 1.01;
}

#social-medias {
    font-size: 100%;
    margin: 1%;
    padding: 1.5%;
    color: #3a3a3a;
    gap: 150px;
}

#social-medias {
    font-family: Pushster, sans-serif;
    text-align: center;
}

#social-medias li {
    display: inline;
}

#social-medias i {
    font-size: 160%;
    margin: 1%;
    padding: 1.5%;
    color: #3a3a3a;
}


/* About PAGE */

#creator-info_ {
    padding: 10rem 0 25rem 0;
    margin: 0 10rem 0 15rem;
}

#circle-container_ {
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(240, 132, 60);
    border-width: 1px;
    border-radius: 50%;
    


}

#creator-img {
    background: url(../images/estrella.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#web_creator_info {
    padding: 10rem 50rem;
    margin: 0 10rem 0 15rem;
}

#creator-info_web li, ol{
}

#circle-container_web {
    position: inherit;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(240, 132, 60);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 0 0 35rem;

}

#creator-img_web {
    background: url(../images/richard.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#creator-list > li, ol {
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding: 0 3rem ;

}

#creator-list_web > li, ol {
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding: 0 0rem 0 0rem;
    
}

#want-to-contact {
    font-family: Pushster, sans-serif;
    margin: 0 20rem;
    font-weight: normal;
    padding-left: 57px;

}

h3 {
    display: grid;
    align-items: center;
    justify-content: space-around;
}

#want-to-contact a {
    font-family: Pushster, sans-serif;
    margin: 0 20rem;
    

}



/*contact page and form */

.contact-form {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: .5rem auto;
    border: 2px solid;
    border-color: rgb(240, 132, 60);
    padding: 2rem;
    border-radius: 5px;
    

}

.contact-form label, input, textarea {
    display: block;
    padding: .25rem 0;
    width: 100%;
    
}

.contact-form input, textarea {
    display: block;
    padding: .5rem;
    width: 95%;
    font-size: 15px;
    
}

#send-btn {
    border: 0%;
    padding: .5rem;
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;

}

#send-btn:hover {
    background-color: rgb(240, 132, 60);
    color: white;
}

#form-contact {
    padding: 5rem 0;

}

/*food page card */
#food_card_ {
    max-width: 300px;
    margin-left: 110px;
    font-family: Montserrat, Arial;
    text-align:center;
}
div#food_card_ {
    margin-left: 5px;
}

#food_card_header {
    box-shadow: 0 4px 8px 0 rgb(240, 132, 60, 0.3);
}

div#food_card_header {
    margin-top: 10rem;
}

#food_card_ img {
    max-width: 300px;

}

#food_card_ button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#food_card_ button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}
#food_card_:hover {
    scale: 1.01;
}


/* Cocktail page card */ 
#cocktail_card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

div#cocktail_card {
    margin-left: 5px;
}

#cocktail_card_header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div#cocktail_card_header {
    margin-top: 10rem;
}


#cocktail_card img {
    max-width: 300px;
}

#cocktail_card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#cocktail_card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}

#cocktail_card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#cocktail-card_header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#cocktail_card img {
    max-width: 300px;
}

#cocktail_card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#cocktail_card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}
#cocktail_card:hover {
    scale: 1.01;
}


/* Coffee page card */

#coffee_card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}
div#coffee_card {
    margin-left: 5rem;
}

#coffee_card_header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
div#coffee_card_header {
    margin-top: 10rem;
}

#coffee_card img {
    max-width: 300px;
}

#coffee_card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#coffee_card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}
#coffee_card:hover {
    scale: 1.01;
}

/* foodimages */

section.food-list {
    padding-top: 5rem;

}

#food-list-header h3 {
    font-family: Oswald, sans-serif;
    padding-top: 2.5rem;
    font-size: 25px;
    text-align: center;
}

#images1 img {
    width: 400px;
    height: 500px;
    border-style: solid;
    border-radius: 10%;
    border-color: rgb(240, 132, 60);
    margin-left: 20rem;

}

#images1 {
        display: flex;
        padding-bottom: 3rem;
}

div.text_right {
    width: 15%;
    margin-left: 5rem;
    font-family: Josefin Sans, sans-serif;
    align-items: center;
    display: flex;
    font-size: 25px;

}

#images2 img {
    width: 400px;
    height: 500px;
    border-style: solid;
    border-radius: 10%;
    border-color: rgb(240, 132, 60);
    margin-left: 20rem;

}


#images2 {
    display: flex;
    padding-bottom: 3rem;
}

#images3 img {
    width: 400px;
    height: 500px;
    border-style: solid;
    border-radius: 10%;
    border-color: rgb(240, 132, 60);
    margin-left: 20rem;

}


#images3 {
    display: flex;
    padding-bottom: 3rem;

}



.backtorecp {
    font-family: Oswald, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    line-height: 35px;
}



#food-list-header ul {
    font-family: Oswald, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    line-height: 35px;
    padding-left: 0;
}

#food-footer social-medias {
    padding-top: 48rem;

}

#footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

@media (min-width:320px)  and (min-width:481px) {
}



@media (min-width:481px) and (min-width:641px) {} 
@media (min-width:961px) and (min-width:1025px) {}
@media (min-width:1025px) and (min-width:1281px)  {} 
