@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Pushster&display=swap');
#main_name, #menu {
    font-family: Pushster, sans-serif;
    color: rgb(240, 132, 60);
    font-size: 200%;
    margin-left: 25px;
    float: left;
    line-height: 50px;
}

/* Making sure the logo or website name menu items are inline */

#menu {
    font-family: Pushster, sans-serif;
    font-size: 120%;
    letter-spacing: 4px;
    list-style-type: none;
    margin-right: 90px;
    float: right;
    padding-top: 5px;
}


/* List items horizontal rather than vertical */
ul > li {
    display: inline-block;
}

/*removing any styles auto placed on the a href links */
#menu a {
    text-decoration: none;
}
/* Adding a style to underline links when hovered */
#menu a:hover {
    border-bottom: 1px solid rgb(240, 132, 60);
}

/* background image */
 #cooking {
    height: 800px;
    width: 1900px;
    background: url(/images/background.jpg) no-repeat center center;
    overflow: hidden;
    justify-content: center;
    animation: bg-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes bg-zoom {
    from {
        transform: scale(.9);
    }
    to {
        transform: scale(1);
    }
} 

#creator-info {
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


#creator-info h2 {
    font-size: 120%;
    font-family: Montserrat, Arial;
    text-align: justify;
    padding-left: 20px;
}

 #circle-container{
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(240, 132, 60);
    border-width: 1px;
    border-radius: 50%;
    

}

#content_creator_img {
    background: url(../images/estrella.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#map {
    margin-left: 1100px;
    margin-top: 30px;
}


#content_creator_img:hover {
    scale: 1.1;
}

#cooking-cards {
  max-width: 300px;
  column-gap: 15px;
  display: flex;

}


#food-card {
    
    max-width: 300px;
    margin-left: 110px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#food-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#food-card img {
    max-width: 300px;

}

#food-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#food-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}

#cocktail-card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#cocktail-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#cocktail-card img {
    max-width: 300px;
}

#cocktail-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#cocktail-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}

#cocktail-card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#cocktail-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#cocktail-card img {
    max-width: 300px;
}

#cocktail-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#cocktail-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}

#coffee-card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#coffee-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#coffee-card img {
    max-width: 300px;
}

#coffee-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#coffee-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}

#cocktail-card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#cocktail-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#cocktail-card img {
    max-width: 300px;
}

#cocktail-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#cocktail-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}

#idea-card {
    
    max-width: 300px;
    margin-left: 150px;
    font-family: Montserrat, Arial;
    text-align: center;
}

#idea-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#idea-card img {
    max-width: 300px;
}

#idea-card button {
    border: none;
    outline: 0px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#idea-card button:hover {
    color: rgb(240, 132, 60);
    opacity: .7;
}